<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/jddug_logo_top.png" alt="JDDUG" height="60">
    </a>
    <ul class="nav justify-content-end">
      {% for item in site.data.navigation %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}class="current active"{% endif %}>
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>