table {
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 1em;
}

table th,
table td {
  border: 1px solid black;
  padding: 8px;
}

table thead {
  background-color: aliceblue;
}

h2 {
  border-left: 15px solid #8a2be2;
  padding-left: 8px;
  margin-top: 1em !important;
}

/* 画像の最大幅を設定 */
img {
  max-width: 100%;
  height: auto;
}

.btn-purple {
  background-color: rgb(138, 60, 196) !important;
  color: #fff !important;
  border: none;
}

.btn-purple:hover {
  background-color: rgb(115, 36, 172) !important; /* 少し暗めのホバー色 */
}
