table {
    border-collapse: collapse;
    width: 80%;
}

table th,
table td {
    border: 1px solid black;
    padding: 8px;
}

table thead {
    background-color: aliceblue;
}

h2 {
    color: purple;
    border-left: 15px solid #8A2BE2;
    padding-left: 8px;
}